$black: #0e0505;
$crimson: #410909;
$fireBrick: #520b0b;
$red: #670e0e;
$lightRed: #701b1b;
$whitesmoked: #eddcdc;

.movie-mosaic {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  justify-content: center;

  .movie-card {
    width: 100%;
    max-width: 300px;
  }
}

@media screen and (max-width: 750px) {
  .movies {
    .cross-bar {
      padding: 10px 10px;
      width: 80%;
      background-color: $crimson;
      border-radius: 10px;
      margin: auto;
      font-family: "AbeeZee", sans-serif;
      margin-bottom: 3rem;
      text-align: center;
      margin-top: 3rem;
      color: $whitesmoked;
      font-size: 1.5rem;
    }
  }
}
