$black: #0e0505;
$crimson: #410909;
$fireBrick: #520b0b;
$red: #670e0e;
$lightRed: #701b1b;
$whitesmoked: #eddcdc;

@import url("https://fonts.googleapis.com/css2?family=ABeeZee");

body {
  margin: 0%;
  background-color: $black;
  font-family: ABeeZee;
}
